.nav-link {
    font-family: sans-serif;
    font-weight:500;
}
.navbar{
    position:sticky;
    /* to keep the bar on top of background */
    z-index: 99;
}
.active-page {
    text-decoration:underline;
}
.logo {
    font-weight:600;
}
body{
    font-family: sans-serif;
    background-color: white;
}
.gradient-bg {
    /* Resize image so that it spans the whole page */
    background-image: url('rsc/gradient_bg.jpg');
    top: 10 ;
    left: 0;
    width: 100vw;
    height: 87vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.center-div {
    /* center any element within a div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title-text {
    color:white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    text-align:center;
}
.description{
    color:white;
    font-family:sans-serif;
    text-align:center;
}
.btn-main {
    border-width:2px;
    border-color:white;
    color:white;
    font-weight:bolder;
    border-radius:20px;
    text-align:center;
}
.btn-main:hover{
    /* mist effect over the background */
    color:white;
    background-color:rgba(225,225,225,0.45);
}
/* .card-sec {
    border-width:1px;
    border:solid;
    border-color:rgb(163, 162, 162);
    border-radius:15px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    border-left-color:powderblue;
    border-left-width:5px;
} */
.bg-light {
    background-color: white;
}
.bg-gray{
    background-color: #f3f4f7;
}
.section {
    /* card format */
    border-radius: 0px;
    padding-top:30px;
    padding-bottom:30px;
    border:transparent;
}
.row-m-t-b {
    /* row with more space between */
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer {
    background-color: black;
    color:white;
    font-family: Helvetica;
}
.logo {
    margin:auto;
}
/* keep img size uniform and div and carousel size equal */
.carousel-img {
    width:800px;
    height:500px;
    margin:auto;
    max-width:100%;
}
.c-div{
    width:800px;
    height:500px;
    max-width:100%;
    margin:auto;
    margin-top:10px;
    margin-bottom:50px;
}
.extra-space{
    margin-top:50px;
}
/* hover caption */
a .cpt{
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255, .8);
  color:black;
  font-weight:bold;
  font-size:1.5rem;
  z-index:99;
}
a:hover span {
  display: block
} 
.article {
    margin-top:10px;
    margin-bottom:10px;
}
.small-img {
    width:120px;
    height:120px;
    margin-top:40px;
}
.card-text{
    margin-top:5px;
}
.display-4 {
    font-weight:bold;
    font-size:300%;
    padding-top:20px;
    padding-bottom:10px;
}
.name-title {
    font-weight:bold;
}
/* shorten text centering */
.tcenter {
    text-align: center;
}
.tbdiv {
    padding:10px;
}
.card-body > .btn-warning {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* center headings */
.hcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* sign up button */
.subutton {
    border:solid;
    border-color:skyblue;
    color:skyblue;
    font-weight:bold;
    background-color: white;
}
.name-card {
    padding:40px;
}
h3 {
    font-weight:bold;
}